.display-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-accent);
  margin-top: 35px;
}

.display-header__title {
  font-size: 1.5rem;
  font-weight: bold;
}

.display-header__links {
  display: flex;
  justify-content: space-evenly;
  color: inherit;
  width: 30%;
}

.display-header__a i {
  color: var(--main-accent);
}

.find-header .display-header__links {
  justify-content: flex-end;
  position: relative;
}

.find-header i {
  margin-left: 20px;
}

.notification__dot {
  background-color: var(--main-sub-accent);
  border-radius: 1px solid (var--main-accent);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  right: -5px;
  top: -5px;
}
