header {
  display: flex;
  justify-content: space-between;
}
header span {
  font-size: 12px;
  font-weight: bold;
  color: #8367c7;
}

header i {
  transform: scale(0.75);
  color: #8367c7;
}
.fa-battery-half {
  transform: scale(1);
}
