header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 0px;
  padding: 2px;
}
header span {
  font-size: 12px;
  font-weight: bold;
  color: var(--main-sub-accent);
}

.status-bar > section:first-of-type span:first-of-type {
  margin-left: 5px;
}

.status-bar .fa-bolt {
  margin-right: 5px;
}
header i {
  transform: scale(0.75);
  color: var(--main-sub-accent);
}
.fa-battery-half {
  transform: scale(1);
}
