.loginAnimationLayer {
  background-color: #8367c7;
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes sizeUpAnimation {
  0% {
    transform: scale(10);
  }

  15% {
    transform: scale(20);
  }

  50% {
    transform: scale(15);
  }

  60% {
    transform: scale(20);
  }

  100% {
    transform: scale(10);
  }
}

.loginOriginalLayer {
  position: absolute;
  z-index: 2;
}
.loginAnimationLayer > i {
  transform: scale(10);
  color: var(--main-accent);
  animation: 3s ease-out sizeUpAnimation;
}

@keyframes disappearLayer {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
    z-index: 1;
  }
}
.loginAnimationLayer {
  animation: 1s ease-out 3s forwards disappearLayer;
}
