@import 'index-animation.css';
@import 'header-status-bar.css';

:root {
  --main-accent: #5603ad;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Comfortaa', sans-serif;
}

.wholeContainer {
  background-color: #f0fff1;
  height: 667px;
  width: 375px;
  padding: 20px;
  position: relative;
}

label {
  margin-top: 10px;
  color: #8367c7;
  font-weight: bold;
}

input {
  border: none;
  border-bottom: 1px solid var(--main-accent);
  font-family: 'Comfortaa', sans-serif;
  width: 90%;
  padding: 10px;
  background-color: #f0fff1;
}
input::placeholder {
  color: #5603ad;
}

main h1,
main p {
  font-size: 1.5rem;
  text-align: center;
  color: #8367c7;
}

main p {
  font-size: 1rem;
}

.login {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.loginButton {
  width: 90%;
  font-family: 'Comfortaa', sans-serif;
  height: 40px;
  background-color: #c2f8cb;
  border: none;
  border-radius: 10px;
  color: #8367c7;
  font-weight: bold;
}

.buttons {
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.buttons > a {
  font-size: 0.75rem;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--main-accent);
}
