@import 'reset.css';
@import 'index-animation.css';
@import 'header-status-bar.css';
@import 'display-header.css';
@import 'login-form.css';
@import 'nav-bar.css';
@import 'profile.css';
@import 'find-screen-component.css';

:root {
  --main-accent: #5603ad;
  --main-sub-accent: #8367c7;
  --mint-green: #c2f8cb;
  --mint-accent: #b3e9c7;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Comfortaa', sans-serif;
}

.wholeContainer {
  background-color: #f0fff1;
  height: 667px;
  width: 375px;
  position: relative;
}

main > *:not(.my__profile) {
  padding: 10px 20px;
}

.index__main {
  margin-top: 50px;
}
label {
  margin-top: 10px;
  color: #8367c7;
  font-weight: bold;
}

main h1,
main p {
  font-size: 1.5rem;
  text-align: center;
  color: #8367c7;
}

.index__main > p {
  font-size: 0.9rem;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: rgba(179, 233, 199, 0.3);
  border-radius: 10px;
}

.alert > p {
  text-align: center;
  padding: 0 10px;
  font-size: 0.75rem;
  color: var(--main-accent);
}

.alert > i {
  color: var(--main-sub-accent);
}
.buttons {
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.buttons > * {
  font-size: 0.75rem;
  font-weight: bold;
  text-decoration: none;
}

.buttons a {
  text-decoration: none;
  color: var(--main-sub-accent);
}
