@import 'index-animation.css';
@import 'header-status-bar.css';
@import 'login-form.css';

:root {
  --main-accent: #5603ad;
  --main-sub-accent: #8367c7;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Comfortaa', sans-serif;
}

.wholeContainer {
  background-color: #f0fff1;
  height: 667px;
  width: 375px;
  padding: 20px;
  position: relative;
}

label {
  margin-top: 10px;
  color: #8367c7;
  font-weight: bold;
}

main h1,
main p {
  font-size: 1.5rem;
  text-align: center;
  color: #8367c7;
}

main p {
  font-size: 1rem;
}

.buttons {
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.buttons > * {
  font-size: 0.75rem;
  font-weight: bold;
  text-decoration: none;
}

.buttons a {
  text-decoration: none;
  color: var(--main-sub-accent);
}
